<div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">

    <div class="p-4 bg-white rounded-lg shadow">
        <p class="mb-2 text-sm font-medium">
            Total de respuestas
        </p>
        <p class="text-lg font-semibold">
            {{ total_responses }}
        </p>
    </div>

    <div class="p-4 bg-white rounded-lg shadow">
        <p class="mb-2 text-sm font-medium">
            Usuarios registrados
        </p>
        <p class="text-lg font-semibold">
            {{ users }}
        </p>
    </div>

    <div class="p-4 bg-white rounded-lg shadow">
        <p class="mb-2 text-sm font-medium">
            Promedio por usuario
        </p>
        <p class="text-lg font-semibold">
            {{ average }}
        </p>
    </div>

    <div class="p-4 bg-white rounded-lg shadow">
        <p class="mb-2 text-sm font-medium">
            Mostrando
        </p>
        <p class="text-lg font-semibold">
            {{ posts|length }}
        </p>
    </div>

</div>

<div class="w-full overflow-hidden rounded-lg shadow-xs">
    <div class="w-full overflow-x-auto">
        <table class="w-full whitespace-no-wrap">
            <thead>
                <tr class="text-xs font-semibold tracking-wide text-left uppercase border-b bg-gray-50">
                    <th class="px-4 py-3">#</th>
                    <th class="px-4 py-3">Título</th>
                    <th class="px-4 py-3">Usuario</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y">
                {% for post in posts %}
                <tr class="text-gray-700">
                    <td class="px-4 py-3 text-sm">{{ post.id }}</td>
                    <td class="px-4 py-3 text-sm">{{ post.title }}</td>
                    <td class="px-4 py-3 text-sm">{{ post.userId }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
