<div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">

    <div class="p-4 bg-white rounded-lg shadow">
        <p class="mb-2 text-sm font-medium">
            Indicador 1
        </p>
        <p class="text-lg font-semibold">
            Valor 1
        </p>
    </div>

    <div class="p-4 bg-white rounded-lg shadow">
        <p class="mb-2 text-sm font-medium">
            Indicador 2
        </p>
        <p class="text-lg font-semibold">
            Valor 2
        </p>
    </div>

    <div class="p-4 bg-white rounded-lg shadow">
        <p class="mb-2 text-sm font-medium">
            Indicador 3
        </p>
        <p class="text-lg font-semibold">
            Valor 3
        </p>
    </div>

    <div class="p-4 bg-white rounded-lg shadow">
        <p class="mb-2 text-sm font-medium">
            Indicador 4
        </p>
        <p class="text-lg font-semibold">
            Valor 4
        </p>
    </div>

</div>